@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Lato:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bitter;
}

body {
  background: linear-gradient(rgba(34, 20, 20, 0.6), rgba(21, 16, 16, 0.6)),
    url("assets/magento-erp-integration.jpg");
  background-repeat: no-repeat;
  background-size: 1700px 700px;

  color: #fff;
  margin-top: 10px;
}

/* logo */
.logo img {
  width: 140px;
  height: 70px;
  padding: 10px;
}

/* navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 1rem;
}
.nav_list {
  display: flex;
  list-style: none;
}

.nav_list li {
  padding: 0.5rem;
  margin: 0 1rem;
}

.nav_list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: .5rem;
}

.nav_list li a:hover {
  color: crimson;
  transition: all 0.5s ease;
  background: linear-gradient(rgba(8, 7, 7, 0.5), rgba(33, 31, 31, 0.5));
}
/* menu bars */

.menu {
  display: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}



/* HERO section */

.hero { 
 text-align: center;
 margin: 3rem 20rem 0rem;
 padding: 1rem;
}

.hero h1 {
  font-size:3.8rem;
  margin-top: 1rem
  
  ;
}
.hero h3{
  padding: 1rem 1.5rem;
  margin: 1.5rem 5rem 0rem;
  text-align: left;
}

.quotes  {
  font-size:1.2rem;
  font-style: italic;
  margin-top: .5rem;
  padding: .5rem ;
  background: linear-gradient(
      rgba(21, 20, 20, 0.5),
      rgba(4, 4, 4, 0.5)
    );
}

.para{
  text-align: left;
  padding: 0rem 1.5rem ;
  width: auto;
  margin: 0rem 5rem 1rem ;
}

.hero button{
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: rgba(247, 97, 27, 0.826);
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 0.6rem;
}

.container{
  width: auto;
  
  padding: .5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

}
.tab{
  height: 10rem;
  margin: .5rem;
  background-color: #E2703A;
  opacity: 0.9;
}

/* laptop screen */

@media (max-width: 930px) {
  .nav_list li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .hero { 
    text-align: center;
    margin: 1rem 10rem 0rem;
    padding: 1rem;
   }
   
   .hero h1 {
     font-size:2rem;
     padding-top: 1rem;
   }
   .hero h3{
     padding: 1rem;
     margin: 1rem 3rem 0rem;
     text-align: left;
   }
   
   .quotes  {
     font-size:1rem;
     font-style: italic;
     margin-top: .5rem;
     padding: .5rem ;
     background: linear-gradient(
         rgba(21, 20, 20, 0.5),
         rgba(4, 4, 4, 0.5)
       );
   }
   
   .para{
     text-align: left;
     padding: 0rem 1.5rem ;
     width: auto;
     margin: 0rem 5rem 1rem ;
   }

}

/* tablet screen */

@media (max-width: 768px) {
  .menu {
    display: block;
    padding: 0 2rem;
  }

  body {
    background-size: 768px 600px;
  }

  .nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: 50%;
    right: 5%;
    text-align: center;
    background: linear-gradient(
      rgba(249, 162, 63, 0.9),
      rgba(253, 169, 60, 0.9)
    );
  }
  .open{
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .hero { 
    text-align: center;
    margin: 0rem 3rem 0rem;
    padding: 1rem;
   }
   
   .hero h1 {
     font-size:2.5rem;
     padding-top: 1rem;
   }
   .hero h3{
     padding: 0.7rem;
     margin: 0.7rem 1.5rem 0rem;
     text-align: left;
   }
   
   .quotes  {
     font-size:0.8rem;
     font-style: italic;
     margin-top: .5rem;
     padding: .5rem ;
     background: linear-gradient(
         rgba(21, 20, 20, 0.5),
         rgba(4, 4, 4, 0.5)
       );

   }
   
   .para{
     text-align: left;
     padding: 0rem 1rem ;
     width: auto;
     margin: 0rem 2rem 1rem ;
   }

   .hero button{
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    color: #fff;
    background-color: rgba(247, 97, 27, 0.826);
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 0.6rem;
  }
}

/* mobile screen */
@media (max-width: 480px) {
  body {
    background-size: 480px 500px;
  }

  .nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: 5%;
    right: 5%;
    text-align: center;
    background: linear-gradient(
      rgba(249, 162, 63, 0.9),
      rgba(253, 169, 60, 0.9)
    );

   
  }
  
  .open{
    display: block;
  }

  .hero { 
    text-align: center;
    margin: 0rem 1rem 0rem;
    padding: 0.7rem;
   }
   
   .hero h1 {
     font-size:1.7rem;
     padding-top: 0.7rem;
   }
   .hero h3{
     padding: 0.5rem 0rem;
     margin: 0.5rem 0rem 0rem;
     text-align: left;
     font-size: 1rem;
   }
   
   .quotes  {
     font-size:0.7;
     font-style: italic;
     margin-top: .5rem;
     padding: 0.5rem;
     background: linear-gradient(
         rgba(21, 20, 20, 0.5),
         rgba(4, 4, 4, 0.5)
       );

   }
   
   .para{
     text-align: left;
     padding: 0rem ;
     width: auto;
     margin: 0.5rem 0rem ;
   }

   .hero button{
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
    background-color: rgba(247, 97, 27, 0.826);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
  }

}


/* footer componets */
footer{
  height: 30vh;
  background: linear-gradient(
         rgba(27, 17, 3, 0.8),
         rgba(27, 18, 3, 0.8)
       );     
}
.footer_div{
  margin:0rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 100;
}

.div_foot{
  width: 350px;
  padding: .5rem;
  margin-top: 1.5rem;

}
.div_foot h4{
  margin-bottom: 0.7rem;
}

.div_foot p{
  padding: .3rem;
}
.div_1 i{
  font-size: 1.2rem;
  padding: .3rem;
  color: #E2703A;
}
